<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <mvc:default-servlet-handler/>
    <mvc:annotation-driven/>
    <context:component-scan base-package="com.mazhj.crm"/>
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/settings/**"/>
            <mvc:mapping path="/workbench/**"/>
            <mvc:exclude-mapping path="/settings/qx/user/toLogin.do"/>
            <mvc:exclude-mapping path="/settings/qx/user/login.do"/>
            <bean class="com.mazhj.crm.settings.web.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/><!--文件的编码格式 默认是ISO8859-1-->
<!--        <property name="maxUploadSizePerFile" value="1048576"/>&lt;!&ndash;上传的每个文件限制的大小 单位字节&ndash;&gt;-->
        <property name="maxUploadSize" value="#{1024*1024*8}"/><!--上传文件的总大小-->
<!--        <property name="maxInMemorySize" value="1048576"/>&lt;!&ndash;上传文件的缓存大小&ndash;&gt;-->
    </bean>

</beans>